<%# app/views/sites/_form.html.erb %>
<div class="box tabular">
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p class="<%= @site.errors.include?(:s_id) ? 'error' : '' %>">
        <%= f.label :s_id, l('plugin_sites_manager.fields.s_id'), required: true %>
        <%= f.text_field :s_id, size: 20, maxlength: 20, required: true %>
        <%= content_tag('span', @site.errors.full_messages_for(:s_id).join(', '), class: 'error') if @site.errors.include?(:s_id) %>
      </p>

      <p>
        <%= f.label :depto, l('plugin_sites_manager.fields.depto') %>
        <%= f.text_field :depto %>
      </p>

      <p>
        <%= f.label :municipio, l('plugin_sites_manager.fields.municipio') %>
        <%= f.text_field :municipio %>
      </p>
    </div>

    <div class="splitcontentright">
      <p class="<%= @site.errors.include?(:nom_sitio) ? 'error' : '' %>">
        <%= f.label :nom_sitio, l('plugin_sites_manager.fields.nom_sitio'), required: true %>
        <%= f.text_field :nom_sitio, required: true %>
        <%= content_tag('span', @site.errors.full_messages_for(:nom_sitio).join(', '), class: 'error') if @site.errors.include?(:nom_sitio) %>
      </p>

      <p>
        <%= f.label :direccion, l('plugin_sites_manager.fields.direccion') %>
        <%= f.text_field :direccion %>
      </p>
    </div>
  </div>

  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%= f.label :jerarquia_definitiva, l('plugin_sites_manager.fields.jerarquia_definitiva') %>
        <%= f.text_field :jerarquia_definitiva %>
      </p>

      <p>
        <%= f.label :fijo_variable, l('plugin_sites_manager.fields.fijo_variable') %>
        <%= f.select :fijo_variable, 
                    [['Fijo', 'Fijo'], ['Variable', 'Variable']], 
                    { include_blank: true } %>
      </p>
    </div>

    <div class="splitcontentright">
      <p>
        <%= f.label :coordinador, l('plugin_sites_manager.fields.coordinador') %>
        <%= f.text_field :coordinador %>
      </p>
    </div>
  </div>

  <fieldset class="box">
    <legend>Campos Adicionales</legend>
    <div class="splitcontent">
      <div class="splitcontentleft">
        <p>
          <%= f.label :campo_adicional_1, l('plugin_sites_manager.fields.campo_adicional_1') %>
          <%= f.text_field :campo_adicional_1 %>
        </p>
        <p>
          <%= f.label :campo_adicional_2, l('plugin_sites_manager.fields.campo_adicional_2') %>
          <%= f.text_field :campo_adicional_2 %>
        </p>
        <p>
          <%= f.label :campo_adicional_3, l('plugin_sites_manager.fields.campo_adicional_3') %>
          <%= f.text_field :campo_adicional_3 %>
        </p>
      </div>
      <div class="splitcontentright">
        <p>
          <%= f.label :campo_adicional_4, l('plugin_sites_manager.fields.campo_adicional_4') %>
          <%= f.text_field :campo_adicional_4 %>
        </p>
        <p>
          <%= f.label :campo_adicional_5, l('plugin_sites_manager.fields.campo_adicional_5') %>
          <%= f.text_field :campo_adicional_5 %>
        </p>
      </div>
    </div>
  </fieldset>
</div>

<%= javascript_tag do %>
  $(function() {
    // Formatear automáticamente el S ID
    $('#flm_site_s_id').on('blur', function() {
      var value = $(this).val().trim().toUpperCase();
      if (value && !value.startsWith('S')) {
        value = 'S' + value;
      }
      $(this).val(value);
    });

    // Formatear automáticamente la jerarquía
    $('#flm_site_jerarquia_definitiva').on('blur', function() {
      var value = $(this).val().trim().toUpperCase();
      if (value && !value.startsWith('B_')) {
        value = 'B_' + value;
      }
      $(this).val(value);
    });
  });
<% end %>