<h2><%= l('plugin_sites_manager.sites.edit') %></h2>

<%= form_tag site_path(@site), method: :patch, class: 'tabular' do %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
  <%= error_messages_for @site %>
  
  <%= fields_for :flm_site, @site do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
  
  <div class="buttons">
    <%= submit_tag l(:button_save), class: 'button-positive' %>
    <%= link_to l(:button_cancel), sites_path, class: 'button' %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'sites_form', plugin: 'redmine_sites_manager' %>
<% end %>