<%# /app/views/sites/edit.html.erb %>
<h2><%= l('plugin_sites_manager.sites.edit') %></h2>

<%= form_with(model: @site, url: site_path(@site), method: :patch, local: true, html: { class: 'tabular' }) do |f| %>
  <%= error_messages_for @site %>
  
  <%= render partial: 'form', locals: { f: f } %>
  
  <div class="buttons">
    <%= f.submit l(:button_save), class: 'button-positive' %>
    <%= link_to l(:button_cancel), sites_path, class: 'button' %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'sites_form', plugin: 'redmine_sites_manager' %>
<% end %>