<div class="contextual">
  <%= link_to l('plugin_sites_manager.sites.download_template'), 
              download_template_sites_path,
              class: 'icon icon-download' %>
</div>

<h2><%= l('plugin_sites_manager.sites.import') %></h2>

<div class="box tabular">
  <%= form_tag import_sites_path, multipart: true, class: 'import-form' do %>
    <div class="import-container">
      <p>
        <label><%= l('plugin_sites_manager.sites.import_file') %></label>
        <%= file_field_tag :file, 
                          accept: '.csv,.xls,.xlsx',
                          class: 'file-input',
                          data: { 
                            max_size: 5.megabytes 
                          } %>
      </p>
      
      <div class="import-instructions">
        <h3><%= l('plugin_sites_manager.sites.import_instructions') %></h3>
        <ul>
          <li><%= l('plugin_sites_manager.sites.instruction_download') %></li>
          <li><%= l('plugin_sites_manager.sites.instruction_fill') %></li>
          <li><%= l('plugin_sites_manager.sites.instruction_required_fields') %>:
            <ul>
              <li>S ID (<%= l('plugin_sites_manager.fields.s_id') %>)</li>
              <li><%= l('plugin_sites_manager.fields.nom_sitio') %></li>
            </ul>
          </li>
          <li><%= l('plugin_sites_manager.sites.instruction_format') %></li>
        </ul>
      </div>
    </div>

    <div class="form-actions">
      <%= submit_tag l('plugin_sites_manager.sites.import_button'), 
                    class: 'button-positive',
                    data: { disable_with: l('plugin_sites_manager.sites.importing') } %>
      <%= link_to l(:button_cancel), sites_path, class: 'button' %>
    </div>
  <% end %>
</div>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'sites_import', plugin: 'redmine_sites_manager' %>
  <%= stylesheet_link_tag 'sites_manager', plugin: 'redmine_sites_manager' %>
<% end %>