<div class="contextual">
  <%= link_to l('plugin_sites_manager.sites.list'), sites_path, class: 'icon icon-list' %>
</div>

<h2><%= l('plugin_sites_manager.sites.new') %></h2>

<%= form_for @site, url: sites_path, html: { class: 'site-form tabular' } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  
  <div class="box tabular">
    <div class="buttons">
      <%= submit_tag l(:button_create), class: 'button-positive' %>
      <%= link_to l(:button_cancel), sites_path, class: 'button' %>
    </div>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'sites_form', plugin: 'redmine_sites_manager' %>
<% end %>