<%# /app/views/sites/new.html.erb %>
<h2><%= l('plugin_sites_manager.sites.new') %></h2>

<%= form_with(model: @site, local: true) do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  
  <div class="buttons">
    <%= f.submit l(:button_create), class: 'button-positive' %>
    <%= link_to l(:button_cancel), sites_path, class: 'button' %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'sites_form', plugin: 'redmine_sites_manager' %>
<% end %>